# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build
cmake-build-debug
build
bld
CMakeFiles
CMakeCache.txt
antlr4cpp
cmake_install.cmake
Makefile
src/parser/*
src/interpreter/program/definitions/DefaultConfig.h
stil_inter

# IDE
.idea

# MACOS
.DS_Store

# Output
*.pat
*.atp

# Examples
grammar/examples