// Default config file for STIL conversion
// Comments are allowed (and ignored) outside the blocks
// Block order and format very sensitive!
// Whitespaces ignored


// Here you must specify for each event sequence on the
// waveforms to what "tester event" it should be translated
//
// If a rule is not defined by an used waveform (event sequence)
// an error will be displayed and the conversion will fail

event_map {
    D -> 0
    U -> 1
    Z -> X
    H -> H
    L -> L
    X -> X
    N -> 1
    T -> X

    XH -> H
    XL -> L
    XT -> X
    XX -> X

    ZH -> H
    ZL -> L
    ZT -> X
    ZX -> X

    DUD -> 1
    UDU -> 0
}

// Here you must specify the signal's name translation from
// STIL definitions to the output signal names.
// By default, all signals are quoted, and the output
// will take them off.
//
// If a rule is not defined for a signal name, the signal
// won't change its name.
// If it's defined but the target name is void, the signal
// will be removed from the output.
// The special rule "[] -> _" will change the "[X]" and put
// a "_X" since this format is used in the examples I've seen

signal_name_map {

    "unused_signal" -> "Unused_Signal"

    "GCFG[3]" ->
    "GCFG[4]" ->
    "GCFG[5]" ->
    "GCFG[6]" ->

    [] -> _
}

// Here you specify what tester event must be used for the scan
// chains padding. This value will be inserted at the beginning
// of the scan in signals which length is less than the max.
// The same goes for the scan out signals, but inserting at the
// end.
// They are not wfc to be translated, they are definitive
// events. (Order sensitive)

scan_padding {
    scan_in -> 0
    scan_out -> X
}

// Here you specify for what the IddqTestPoint instruction
// should be replaced in the pattern file.
// This multiline string must not have '}' character

iddq_action {
// Here it comes
// a iddq action
}
